#sidebar-right{
    float: right;
    width: 230px;
    padding: 10px;
}

#content{
    float:left;
    width: 700px;
}

ul.menu{ list-style-type: none; float: right; }
ul.menu li{ float: left; margin-left: 10px; }